#range_size{
    display:inline-flex;
}
datalist {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}


input[type="range"] {
    appearance: slider-vertical;
    display:inline-flex;
    margin: 5px;
}
