{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/range_markers_labels.css') }}">
{% endblock stylesheets %}

{% block body %}
    <div class="sticky-top" data-controller="scroll-to-top">
        <button
                class="btn btn-light scrolling"
                data-action="click->scroll-to-top#scroll"
        >
            scroll to top
            a</button>
    </div>
    <div class="container">


        <div class="row">
            <div class="col text-center">
                <h1>LeaseWeb Servers Demo</h1>
            </div>
        </div>
    <div class="row">

        <div class="row">
            {{ component('ServerSearch') }}
    </div>
{% endblock %}