{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/range_markers_labels.css') }}">
{% endblock stylesheets %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>LeaseWeb Servers Demo</h1>
            </div>
        </div>
    <div class="row">

    <div class="row">
        {{ component('ServerSearch') }}
    </div>
{% endblock %}