{% extends 'components/ServerSearch/base.html.twig' %}

{% block choseyour %}Storage Type{% endblock %}

{% block selections %}
    <select  class="form-select"  name="storage" id="storage-type" data-model="storage">
        {% for option in this.storageTypeOptions %}
            <option value="{{ option }}">{{ option }}</option>
        {% endfor %}

    </select>
{% endblock selections %}
